<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title bread_2
    body
        app
            ul 
                li
                    a(href="/") 메인
                li
                    a(href="/bread") 빵 소개
        block content